/*    Floating Label Text Input with Validation Error Class  v.0.2    1402.03.05     */
.flt_lbl{ position: relative; width: 100%; margin-bottom: 25px;}
.flt_lbl:last-child{ margin-bottom: 0;}

.flt_lbl > input[type='text']{ width: 100%; box-sizing: border-box; padding: 10px; border-radius: 5px; outline: none;}
.flt_lbl > label{ position: absolute; top: 10px; right: 10px; pointer-events: none; font-size: 13px;transition: 0.2s all;}

.flt_lbl > input[type='text']:focus ~ label, .flt_lbl > input[type='text']:not(:placeholder-shown) ~ label{
    top: -12px; right: 12px; background-color: white; padding: 0 5px;}


.flt_lbl > input[type='text']:disabled { border: 1px solid lightgray; color: dimgray; background-color: lightgray;}
.flt_lbl > input[type='text']:disabled ~ label{
    color: gray; top: -20px; right: 5px; background-color: white; padding: 0 5px;
}

.flt_lbl > ::placeholder{ color: transparent;}

.v_non > input[type='text']{ border: 1px solid gray; color: #2d3748; transition: 0.2s all;}
.v_non > input[type='text']:focus{ box-shadow: 0 0 4px inset dimgray;}
.v_non > label{ color: dimgray;}


.v_acc > input[type='text']{ border: 1px solid darkgreen; color: darkgreen; transition: 0.2s all;}
.v_acc > input[type='text']:focus{ box-shadow: 0 0 4px inset darkgreen;}
.v_acc > label{ color: darkgreen;}
.v_rej > input[type='text']{ border: 1px solid red; color: red; transition: 0.2s all;}
.v_rej > input[type='text']:focus{ box-shadow: 0 0 4px inset red;}
.v_rej > label{ color: red;}
.v_rej > div{ color: red;font-size: 11px;position: absolute;width: 100%;text-align: center;}


